/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

.main-container {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** end reset css**/
.main-container {
	max-width: 1140px;
	margin: auto;
	font-family: 'Work Sans';
	font-size: 14px;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}

section {
	margin: 50px 0
}

h1 {
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1>span {
	font-family: 'Work Sans';
	font-size: 10px;
	letter-spacing: 0.1em;
	;
}

h2 {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}

nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}

#introduction {
	display: flex;
	align-items: center;
}

#introduction figure {
	flex: 1
}

#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

#portfolio .portfolio-header {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	margin-bottom: 3em;
}

#portfolio h2 {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154;
}


.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}

#contact {
	width: 50%;
	margin: auto;
}

#contact>* {
	text-align: center;

}

#contact h2 {
	margin-bottom: 20px;
}

#contact form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label {
	margin: 2em 0 1em 0;
}

#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin: 2em auto;
	width: 180px;
	text-align: center;
	border-radius: 60px;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

.filter-buttons {
	display: flex;
	justify-content: center;
	gap: 10px;
	height: 37px;
	align-items: center;
	margin-bottom: 40px;
}

.filter {
	display: flex;
	height: 37px;
	padding: 0px 12px;
	align-items: center;
	gap: 10px;
	border-radius: 25px;
	border: 2px solid var(--green, #1D6154);
	color: var(--Green, #1D6154);
	font-family: Syne;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.filter:hover {
	background-color: #1D6154;
	color: white;
	cursor: pointer;
}

.filter-selected {
	background-color: #1D6154;
	color: white;
}

#log-in {
	display: flex;
	height: 1024px;
	max-width: 1140px;
	flex-direction: column;
	justify-content: space-between;
	margin: auto;
}

#login {
	width: 50%;
	margin: auto;
}

#login>* {
	text-align: center;

}

#login h2 {
	margin-bottom: 20px;
}

#login form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

#login input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#login label {
	margin: 2em 0 1em 0;
}

#login a {
	display: flex;
	justify-content: center;
}

a {
	text-decoration: none;
	color: black;
}

input[type=submit] {
	cursor: pointer;
}

.head-band {
	display: none;
	flex-direction: row;
	justify-content: center;
	gap: 15px;
	align-items: center;
	height: 59px;
	background-color: black;
}

.head-band i,
.mode-edition {
	color: white;
}

.head-band i:hover {
	cursor: pointer;
}

.in-log {
	display: none;
	position: absolute;
	right: 32%;
	/* Aligner à droite par rapport à l'élément parent */
	top: 50%;
	/* Centrer verticalement par rapport à l'élément parent */
	transform: translateY(-50%);
	gap: 10px;
}

.in-log i:hover {
	cursor: pointer;
}

.settings {
	margin-left: 5px;
}

.settings:hover {
	cursor: pointer;
}

.filter-buttons {
	display: flex;
}

/* MODALE */
.overlay-modal-content {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.4);
	/* Pour que le .in-log ne s'affiche pas dans la modale suite a un index identique */
	z-index: 2;
}

.modal-gallery figure {
	position: relative;
}

.modal-gallery {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin-top: 30px;
	gap: 15px;
	width: 75%;
}

.modal-gallery img {
	width: 76px;
	height: 102px;
}

.fa-trash-can {
	position: absolute;
	color: white;
	background-color: black;
	width: 15px;
	height: 15px;
	padding: 5px;
	border-radius: 2px;
	cursor: pointer;
	left: 45px;
	top: 5px;
}


#modal-content {
	display: flex;
	flex-direction: column;
	position: fixed;
	align-items: center;
	justify-content: space-around;
	text-align: center;
	z-index: 1;
	background-color: #fff;
	padding: 20px;
	border: 1px solid #888;
	border-radius: 10px;
	width: 30%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	animation: apparition .3s;
	width: 630px;
	height: 688px;
}

#modal-content h2 {
	color: black;
	margin-top: 20px;
	font-weight: lighter;
}

#modal-close {
	position: absolute;
	top: 20px;
	right: 20px;
	width: 30px;
	height: 30px;
	cursor: pointer;
	background: none;
	border: none;
	padding: 0;
}

#modal-content hr {
	border-bottom: solid 2px grey;
	width: 75%;
}

#new-photo {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	padding: 10px 25px 10px 25px;
	width: 230px;
	text-align: center;
	border-radius: 60px;
	border-width: 0px;
	margin-top: 30px;
	cursor: pointer;
}

#modal-photo {
	display: none;
	flex-direction: column;
	position: fixed;
	text-align: center;
	align-items: center;
	z-index: 2;
	background-color: #fff;
	padding: 20px;
	border: 1px solid #888;
	border-radius: 10px;
	width: 30%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#modal-photo h2 {
	color: black;
	margin-top: 20px;
	font-weight: lighter;
}

#modal-photo form {
	display: flex;
	flex-direction: column;
	width: 70%;
	padding: 30px 100px 30px 100px
}

#form-photo {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 180px;
	background-color: #e8f1f6;
}

#form-photo i {
	font-size: 50px;
}

#btn-new-photo {
	padding: 13px 30px 13px 30px;
	background-color: #cbd6dc;
	border-radius: 25px;
	color: #376b89;
	margin-top: 17px;
	cursor: pointer;
}

.modal-photo-input {
	display: flex;
	flex-direction: column;
	margin-top: 25px;
	align-items: start;
}

#modal-photo-category,
#modal-photo-title {
	width: 100%;
	height: 37px;
	box-shadow: 0px 0px 15px rgb(233, 233, 228);
	border-width: 0px;
	margin-top: 10px;
	padding-left: 13px;
}

#modal-return {
	position: absolute;
	top: 20px;
	left: 20px;
	width: 30px;
	height: 30px;
	cursor: pointer;
	background: none;
	border: none;
	padding: 0;
}

#modal-return i {
	font-size: 15px;
	display: block;
}

#modal-photo-close {
	position: absolute;
	top: 20px;
	right: 20px;
	width: 30px;
	height: 30px;
	cursor: pointer;
	background: none;
	border: none;
	padding: 0;
}

.modal-valider {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #6f717099;
	padding: 10px 25px 10px 25px;
	width: 230px;
	border-width: 0px;
	border-radius: 60px;
	margin-top: 30px;
	pointer-events: none;
	margin: 30px auto;
}

.form-btn-valider {
	cursor: pointer;
	background-color: #1D6154;
	color: white;
	pointer-events: auto;
	cursor: pointer;
}

#form-photo img {
	width: 130px;
	height: 100%;
}

#image {
	display: none;
}

.msg-add-photo-success-error {
	display: none;
	margin-top: 35px;
	color: green;
	font-weight: bold;
	font-size: 15px;
}

.msg-bad-size-format-img {
	margin-top: 35px;
	color: red;
	font-weight: bold;
	font-size: 15px;
}

.msg-delete-ok {
	margin-top: 35px;
	color: green;
	font-weight: bold;
	font-size: 15px;
}